{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            {% for article in articles |reverse %}
            <div class="col-md-12">
                <div class="panel panel-default">

                    <!--<div class="panel-heading"><h5> { article.title }}</h5></div> -->
                    <div class="panel-heading"><h5><a href="{{ path('article_view', {'id': article.id}) }}" ><font color="#ffffff">{{ article.title }}</font></a></h5></div>
                    <div class="panel-body"><h6>{{ article.summary }}</h6></div>

                    <p>
                        {% for tag in article.tags %}
                            <a class="btn btn-default btn-xs" href="{{ path('articles_in_tag', {'name':tag.name}) }}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                            <div class="panel-footer">
                                <small class="author">
                                    Date: {{ article.dateAdded |date('Y-m-d') }}  Author: {{ article.author }}
                                </small>
                            <div class="pull-right">
                                <a class="btn  btn-default btn-xs"
                                   href="{{ path('article_view',
                                   {'id': article.id}) }}">Read more &raquo;</a>
                            </div>

                    </div>

                </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

