{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>

                    <p>
                        {{ article.content }}
                    </p>

                    <small class="author">
                        {{ article.author }}
                    </small>

                    <footer>
                        <div class="pull-right">
                            {% if app.getUser() and (app.getUser().isAuthor(article) or app.getUser().isAdmin()) %}
                            {% if app.user.isAdmin() %}
                                <a class="btn btn-default btn-xs" href="{{ path('admin_admin_panel') }}"><< Admin panel</a>
                                <a class="btn btn-default btn-xs" href="{{ path('admin_list_articles') }}">Back to articles view</a>
                            {% endif %}
                                <a class="btn btn-success btn-xs" href="{{ path('article_edit', {id: article.id}) }}">Edit</a>
                                <a class="btn btn-danger btn-xs" href="{{ path('article_delete', {id: article.id}) }}">Delete</a>
                            {% endif %}
                            {% if app.user.isAdmin() %}
                            <!--<a class="btn btn-default btn-xs" href="#">back to artiles</a> -->
                            {% else %}
                                <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">back >></a>
                            {% endif %}
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

